body {
    background-image: url('images/porschegt3rs.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
  }

  .container {
    background-color: rgba(248, 249, 250, 0.85);
    border-radius: 15px;
    color: black;
  }

  .modal-content {
    background-color: transparent;
    border: none;
  }

  .modal-header, .modal-body {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .btn-signup {
    background-color: black;
    color: white;
  }

  .form-container {
    padding: 4rem 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
  }